# API Keys for LLM Providers
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=

# LLM Configuration
DEFAULT_LLM_PROVIDER=google
DEFAULT_LLM_MODEL=models/gemma-4-31b-it

# Embeding Configuration
DEFAULT_EMB_PROVIDER=huggingface
DEFAULT_EMB_MODEL=AITeamVN/Vietnamese_Embedding
DEFAULT_RERANK_MODEL=namdp-ptit/ViRanker
VECTOR_SEARCH=fuse_embedded

# Database / Vector Store Configuration
VECTOR_STORE_PATH=./data/vector_store
DATABASE_URL=sqlite:///./data/rag_lawyer.db
QDRANT_URL=http://localhost:6333/
MONGODB_URL=mongodb://admin:secret_password@localhost:27017/
MONGODB_DB_NAME=rag_lawyer
CHECKPOINT_PROVIDER=mongodb

# JWT Authentication Configuration
JWT_SECRET_KEY=94bc9bfdb446bf301e52dbb8b849ab286c0ab342be3b8ad78df88319e7a27cb4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=5
REFRESH_TOKEN_EXPIRE_DAYS=1

# App Configuration
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=True
